.popover{
	width:400px;
	height:100px;
}
.body-container{
	margin: 50px 50px 50px 50px;
}

body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:#f4f4f4 url(../images/bg.gif) repeat top left;
	color:#333;
	overflow-y:scroll;
	direction: rtl;
}

div{
	direction: rtl;
}

#mainNavbar {
	direction: rtl;
}

#conFluid {
	direction: rtl;
}