<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
	
	<link rel="stylesheet" th:href="@{/css/sb-admin-2.css}"
	href="../../css/sb-admin-2.css" />
	
	<link rel="stylesheet" th:href="@{/css/metisMenu.min.css}"
	href="../../css/metisMenu.min.css" />
	
	<link rel="stylesheet" th:href="@{/css/font-awesome.css}"
	href="../../css/font-awesome.css"  type="text/css" />
	
<script src="../../js/libs/require.js" th:src="@{/js/libs/require.js}"
		data-main="../../js/main"/>

	<script>
		var MyGlobal = {};
	</script>
</head>
<body>

	<div class="wrapper" id="wrapper">
	</div>
</body>
</html>
