<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}"
	href="../../css/login.css" />
</head>
<body onload="document.f.username.focus();">
	<div class="wrapper">
		<h1>מערכת לניהול מנעולים</h1>
		<img class="header" src="../images/image.png" height="52" width="52"/>
		<div class="content">
			<div id="form_wrapper" class="form_wrapper">

				<h3>התחברות למערכת</h3>
				<form name="form" class="login active" th:action="@{/login}" action="/login" method="POST">
					<div>
						<label>שם משתמש:</label>
						<input type="text" name="username" value="" placeholder="שם משתמש" />
					</div>
					<div>
						<label>סיסמה:</label>
						<input type="password" name="password" placeholder="******" />
					</div>
					<div>
						<p th:if="${param.logout}" class="alert">נותקת מהמערכת</p>
						<p th:if="${param.error}" class="alert alert-error">פרטי התחברות שגויים, נסה שוב</p>
					</div>
					<div class="bottom">
						<input type="submit" id="login" value="התחבר"
							class="btn btn-primary" />
					</div>
				</form>
				</div>
		</div>
	</div>
</body>
</html>